@media only screen and (min-width: 768px){
  .cart_data {
    background: #FFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
    padding: 20px 30px;
    width: 100%;
    max-width: 780px;
    margin: 30px auto;
  }
}
.cart_note {
  font-size: 13px;
  color: #666;
  margin-bottom: 10px;
  border-bottom: 1px #E5E5E5 solid;
  padding-bottom: 10px;
  .note-add{
    display: block;
    margin-bottom: 6px;
  }
}
.cart_title {
  position: relative;
}
.cart_table {
  border-collapse: collapse;
  font-size: 13px;
  width: 100%;
  margin-top: 8px;
  .title {
    background: #F5F5F5;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
  }
  td {
    border: 1px solid #E5E5E5;
    padding: 8px;
  }
  .data{
    .No {
      font-weight: bold;
      text-align: right;
    }
    .picture, .cart_table .quantity {
      font-size: 0;
      text-align: center;
      img{
        width: 30px;
        height: 30px;
      }
    }
    .name {
      display: table-cell;
    }
    .price {
      font-size: 1rem;
      text-align: right;
    }
    .quantity {
      font-size: 0;
      text-align: center;
    }
    delete {
      text-align: center;
      .text_link{
        i.far.fa-trash-alt{
          font-size: 14px;
          margin-left: 6px;
        }
      }
    }
  }
}
.cart_total {
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: right;
}
.break_module {
  height: 20px;
}
.cart_data h3 {
  font-weight: 600;
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  .cart_form .name {
    width: calc(25% - 10px);
    margin-right: 10px;
  }
  .cart_form .mobile {
    width: calc(25% - 10px);
    margin-right: 10px;
  }
  .cart_form .information {
    width: 50%;
  }
}
.cart_button {
  margin: 15px 0;
  text-align: center;
}

.form_button_3{
  display: block;
  margin: 0 auto;
  padding: 2px 0 6px;
  .tt-sp{
    font-size: 12px;
    margin-top: 8px;
    display: block;
    font-weight: 500;
    text-transform: initial;
  }
}
.form_button_3, .form_button_3_green {
  background: linear-gradient(#F59000, #FD6E1D);
  border: none;
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 8px;
  height: 55px;
  text-transform: uppercase;
  width: 100%;
  max-width: 400px;
}
.cart_hotline {
  font-size: 0.9rem;
  margin-bottom: 10px;
  text-align: center;
}
.form_control {
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  color: #333;
  font-size: 14px;
  padding: 5px 10px 8px;
}

@media (max-width: 768px){
  .cart_data{
    margin-top: 145px;
  }
  .cart_table{
    .title{
      .name{
        display: none;
      }
    }
    .data{
      .name{
        display: none;
      }
    }
  }
  .form_control{
    width: 100%;
    margin-bottom: 10px;
  }
}

.not_cart{
  color: #666;
  font-size: 14px;
  margin: 15px 0;
  text-align: center;
}
.not_product_cart{
  text-align: center;
  i.fa-shopping-cart{
    font-size: 90px;
    color: #a2a2a2;
  }
}
.btn_back{
  text-align: center;
  margin-bottom: 15px;
}