

header#home{
    display: flex;
    width: 100%;
    height: 58px;
    background: red;
    border-bottom: 1px solid rgba(255,255,255,.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    .menu_mobile{
        display: none;
    }
    .col_left{
        width: 20%;
        height: 100%;
        .bars_mb {
            position: absolute;
            display: none;
            left: 15px;
            top: 15px;
            i{
                color: #fff;
                font-size: 26px;
            }
        }
        .logo_zilo{
            height: 100%;
            width: 100%;
            padding: 10px 0;
            i{
                display: none;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .col_right{
        width: 80%;
        height: 100%;
        display: flex;
        .search_hd{
            width: 100%;
            height: 100%;
            line-height: 55px;
            padding: 10px 20px;
            form{
                position: relative;
                input{
                    border: 0px;
                    outline: none;
                    font-size: 14px;
                    position: relative;
                    :focus{
                        box-shadow: 0px !important;
                    }
                }
                .icon_s{
                    background: linear-gradient(#F59000, #FD6E1D);
                    border-radius: 3px;
                    color: #FFF;
                    font-size: 14px;
                    position: absolute;
                    padding: 0 11px;
                    height: 32px;
                    line-height: 33px;
                    top: 1px;
                    right: 2px;
                }
            }
        }
        .car_home{
            margin-left: 20px;
            margin-right: 20px;
            display: flex;
            line-height: 55px;
            i.fas.fa-shopping-cart{
                font-size: 22px;
                position: relative;
                #cart_count{
                    background: linear-gradient(#F59000, #FD6E1D);
                    border: 1px #F99000 solid;
                    border-radius: 50%;
                    font-size: 11px;
                    font-weight: normal;
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    line-height: 15px;
                    text-align: center;
                    top: -11px;
                    right: -18px;
                }
            }
            .btn-login {
                display: block;
                color: #fff;
                width: auto;
                cursor: pointer;
                font-weight: 500;
                font-size: 14px;
                border: 0;
                padding: 8px 20px;
                background: transparent;
                white-space: nowrap;
                text-decoration: none;
            }

        }
        .hotline {
            width: 220px;
            display: flex;
            flex-direction: column;
            padding: 10px 0px;
            a{
                font-size: 14px;
                color: #fff;
                margin-bottom: 8px;
                i{
                    font-size: 12px;
                    margin-right: 3px;
                }
            }
        }
    }
}

.nav-menu{
    background: #CC0000;
    margin-top: 58px;
    padding: 0 15px;
    display: flex;
    .menu_home{
        width: 100%;
        height: 100%;
        line-height: 35px;
        ul{
            display: flex;
            justify-content: flex-start;
            list-style: none;
            margin-bottom: 0px;
            li{
                margin: 0 10px;
                position: relative;
                &:hover{
                    ul.menu_child{
                        display: block;
                    }
                }
                a{
                    color: #fff;
                    font-size: 14px;
                    font-weight: 500;
                    text-decoration: none;
                    text-transform: uppercase;
                    i{
                        margin-left: 6px;
                        margin-right: 3px;
                    }
                }
            }
        }
        ul.menu_child{
            position: absolute;
            display: none;
            left: 0;
            z-index: 100;
            background: #fff;
            padding: 10px 0;
            border-radius: 2px;
            width: 180px;
            border: 1px solid rgba(131,131,131,.2);
            -webkit-transition: .1s ease all;
            -o-transition: .1s ease all;
            transition: .1s ease all;
            -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
            box-shadow: 0 0 10px 0 rgba(0,0,0,.13);
            li{
                display: block;
                white-space: nowrap;
                height: 35px;
                line-height: 35px;
                padding: 0 10px;
                margin: 0;
                text-align: left;
                &:hover{
                    background: #f3f4f7;
                    a{
                        color: #CC0000;
                    }
                }
                a{
                    display: block;
                    font-size: 12px;
                    color: #30333a;
                    font-weight: 400px;
                    text-transform: uppercase;
                }
            }
        }
        ul.menu_child::before{
            position: absolute;
            bottom: 100%;
            border: solid transparent;
            content: ' ';
            height: 0;
            width: 0;
            pointer-events: none;
            border-color: transparent;
            border-bottom-color: #fff;
            border-width: 8px;
            left: 40px;
            top: -16px;
            opacity: 1;
            z-index: 101;
        }
    }
    .note{
        width: 150px;
        padding: 10px;
        span{
            font-size: 12px;
            color: #fff;
        }
    }
}

#nav-menu-mb{
    // display: none;
    .navbar_menu{
        background: #FFF;
        border-left: 1px solid #E5E5E5;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        position: fixed;
        width: 280px;
        height: 100%;
        top: 0;
        transition: 0.3s;
        left: -280px;
        z-index: 99;
        list-style: none;
        li{
            a{
                display: block;
                border-top: 1px solid #E5E5E5;
                padding: 14px 10px;
                color: #333;
                i{
                    margin-right: 6px;
                }
                &:hover{
                    color: #E51515;
                }
                i.fal.fa-angle-down {
                    margin-left: 8px;
                }
            }
            ul{
                li{
                    a{
                        padding-left: 35px;
                    }
                }
            }
        }
    }

}
.navbar_overlap {
    display: none;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 11;
}

#home::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0%;
    left: 0;
    z-index: -1;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(transparent));
    background: -webkit-linear-gradient(top,rgba(0,0,0,.5),transparent);
    background: -o-linear-gradient(top,rgba(0,0,0,.5),transparent);
    background: linear-gradient(180deg,rgba(0,0,0,.5),transparent);
}



section{
    margin-bottom: 20px;
}

.banner_top  {
    width: 100%;
    height: auto;
    z-index: 1;
}

.project_hot{
    margin-top: 12px;
    a{
        text-decoration: none;
    }
    .title_home_h{
        color: #333;
        font-size: 20px;
    }
    .title-listing{
        font-size: 26px;
        font-weight: 500;
        font-family: 'Helvetica Neue', serif;
        color: #000;
        display: block;
        float: left;
        width: 100%;
        line-height: 1.92;
    }
    .title-home{
        font-size: 24px;
        font-weight: 500;
        font-family: 'Helvetica Neue', serif;
        color: #000;
        display: block;
        float: left;
        width: 100%;
        line-height: 1.92;
    }
    .list_article{

        transition: all .3s;
        border: 1px solid rgba(131,131,131,.2);
        margin-bottom: 30px;
        border-top: 2px solid #CC0000;
        &:hover{
            transform: translate(0,-2px);
            -webkit-box-shadow: 0 0 6px rgba(0,0,0,.15);
            box-shadow: 0 0 6px rgba(0,0,0,.15);
        }
    }
    .cover_image{
        position: relative;
        height: 160px;
        p{
            position: absolute;
            top: 10px;
            left: 10px;
            text-align: center;
            padding: 7px 7px 5px 7px;
            color: #fff;
            background: rgba(199,37,40,.86);
            font-size: 12px;
            font-family: 'rv-font1',Arial,Helvetica,sans-serif;
            z-index: 2;
            border-radius: 2px;
            text-transform: uppercase;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .mark_cover_image{
            position: absolute;
            bottom: 0;
            text-align: center;
            padding: 8px 0;
            color: #fff;
            background: rgba(199,37,40,.86);
            font-size: 14px;
            font-family: 'rv-font1',Arial,Helvetica,sans-serif;
            width: 100%;
            z-index: 2;
        }
    }
    .info_project{
        position: relative;
        width: 100%;
        padding: 10px;
        background: #fff;
        ul.info_house{
            margin-top: 15px;
            display: flex;
            list-style: none;
            margin-bottom: 0;
            li{
                display: inline-block;
                width: auto;
                font-size: 14px;
                margin-right: 15px;
                color: #838383;
                i{
                    font-size: 12px;
                    color: #30333a;
                    padding-right: 5px;
                }
            }
        }
        h3{
            a.name_project{
                display: -webkit-box;
                font-size: 13px;
                height: auto;
                line-height: 1.35rem;
                margin-bottom: 5px;
                max-height: 2.7rem;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                color: #000;
            }
        }
        .address_project{
            margin-top: 8px;
            display: block;
            color: #838383;
            white-space: nowrap;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .price_project{
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            .curren_price{
                color: #E51515;
                font-size: 16px;
                line-height: 1.3;
            }
            .old_price{
                color: #595959;
                text-decoration: line-through;
                margin-top: 4px;
                font-size: 13px;
            }
        }
        .price_house{
            display: block;
            position: absolute;
            right: 20px;
            bottom: 15px;
            font-size: 14px;
            font-weight: 600;
            color: #30333a;
            text-align: right;
        }
    }
}

a.more{
    color: #337588;
    font-weight: 400;
    font-size: 17px;
    display: block;
    float: left;
    clear: both;
    text-decoration: none;
    i{
        font-size: 13px;
        margin-left: 10px;
    }
}



footer#footer{
    background: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    padding: 20px 0;
    .slogan-ft{
        display: block;
        color: #000;
        margin-bottom: 6px;
    }
    em {
        font-size: 13px;
    }
    .row_three{
        margin-top: 20px;
        padding-top: 18px;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #ddd;
        .left{
            float: left;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.5);
            line-height: 18px;
        }
        .right{
            float: right;
            a{
                font-size: 12px;
                color: rgba(0, 0, 0, 0.5);
                text-decoration: none;
                margin-right: 16px;
            }
        }
    }
    .gg-map{
        width: 100%;
        height: 250px;
    }
}



.hotline-phone-mobile{
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    .ring {
        position: relative;
        visibility: visible;
        background-color: transparent;
        width: 110px;
        height: 110px;
        cursor: pointer;
        z-index: 11;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0);
        transition: visibility .5s;
        left: 0;
        bottom: 0;
        display: block;
    }
    .ring-circle {
        width: 85px;
        height: 85px;
        top: 10px;
        left: 10px;
        position: absolute;
        background-color: transparent;
        border-radius: 100%;
        border: 2px solid #28bd28;
        -webkit-animation: circle-anim 1.2s infinite ease-in-out;
        animation: circle-anim 1.2s infinite ease-in-out;
        transition: all .5s;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        opacity: 0.5;
    }
    .ring-circle-fill {
        width: 55px;
        height: 55px;
        top: 25px;
        left: 25px;
        position: absolute;
        background-color: #28bd28db;
        border-radius: 100%;
        border: 2px solid transparent;
        -webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;
        animation: circle-fill-anim 2.3s infinite ease-in-out;
        transition: all .5s;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    .ring-img-circle {
        background-color: #15ab15;
        width: 33px;
        height: 33px;
        top: 37px;
        left: 37px;
        position: absolute;
        background-size: 20px;
        border-radius: 100%;
        border: 2px solid transparent;
        -webkit-animation: circle-img-anim 1s infinite ease-in-out;
        animation: circle-img-anim 1s infinite ease-in-out;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ring-img-circle .pps-btn-img {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .ring-img-circle .btn-img img {
        width: 20px;
        height: 20px;
    }
    img {
        transition: opacity 1s;
        opacity: 1;
    }
    .bar {
        position: absolute;
        background: #28bd28eb;
        height: 40px;
        width: 200px;
        line-height: 40px;
        border-radius: 3px;
        padding: 0 10px;
        background-size: 100%;
        cursor: pointer;
        transition: all 0.8s;
        -webkit-transition: all 0.8s;
        z-index: 9;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
        border-radius: 50px !important;
        /* width: 175px !important; */
        left: 33px;
        bottom: 37px;
    }
    .bar > a {
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        text-indent: 60px;
        display: block;
        letter-spacing: 1px;
        line-height: 40px;
        font-family: Arial;
    }

    @-webkit-keyframes circle-anim {
        0% {
            -webkit-transform: rotate(0) scale(0.5) skew(1deg);
            -webkit-opacity: 0.1;
        }
        30% {
            -webkit-transform: rotate(0) scale(0.7) skew(1deg);
            -webkit-opacity: 0.5;
        }
        100% {
            -webkit-transform: rotate(0) scale(1) skew(1deg);
            -webkit-opacity: 0.1;
        }
    }
    @-webkit-keyframes circle-fill-anim {
        0% {
            -webkit-transform: rotate(0) scale(0.7) skew(1deg);
            opacity: 0.6;
        }
        50% {
            -webkit-transform: rotate(0) scale(1) skew(1deg);
            opacity: 0.6;
        }
        100% {
            -webkit-transform: rotate(0) scale(0.7) skew(1deg);
            opacity: 0.6;
        }
    }
    @-webkit-keyframes circle-img-anim {
        0% {
            -webkit-transform: rotate(0) scale(1) skew(1deg);
        }
        10% {
            -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        }
        20% {
            -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        }
        30% {
            -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        }
        40% {
            -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        }
        50% {
            -webkit-transform: rotate(0) scale(1) skew(1deg);
        }
        100% {
            -webkit-transform: rotate(0) scale(1) skew(1deg);
        }
    }
}


.back-to-top {
    position: fixed;
    bottom: 35px;
    right: 30px;
    z-index: 10;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    i{
        color: red;
        font-size: 40px;
    }
}






@media (max-width: 768px){
    header#home{
        padding: 0 15px;
        height: auto;
        display: unset;
        .bars_mb{
            display: block !important;

        }
        .col_left{
            width: 100%;
            display: flex;
            justify-content: center;
            .logo_zilo{
                position: relative;
                width: 200px;
                height: auto;
                i{
                    display: block;
                    transition: transform .5s ease;
                    position: absolute;
                    right: -38px;
                    top: 9px;
                    color: #fff;
                    padding: 12px;
                }
            }
        }
        .col_right{
            width: 100%;
            flex-direction: column;
            .search_hd{
                padding: 0px 0px;
            }
            .login_home{
                justify-content: flex-end;
                display: none;
            }
            .menu_home{
                padding: 0 15px;
                display: none;
                ul{
                    display: block;
                    background-color: #fff;
                    display: unset;
                    position: absolute;
                    top: 58px;
                    left: 0;
                    width: 100%;
                    li{
                        .menu_child{
                            display: block;
                        }
                        a{
                            display: block;
                            margin: 0 18px;
                            height: 50px;
                            line-height: 50px;
                            text-align: left;
                            color: #30333a;
                            border-bottom: 1px solid rgba(48,51,58,.1);
                            -webkit-transition: all 100ms ease-in;
                            -o-transition: all 100ms ease-in;
                            transition: all 100ms ease-in;
                            i{
                                margin-top: 18px;
                                float: right;
                                color: #c72628;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
            .car_home{
                position: absolute;
                top: 0;
                right: -12px;
            }
            .hotline{
                width: 100%;
                display: unset;
                text-align: center;
                a{
                    margin-right: 12px;
                }
            }
        }
    }
    .nav-menu{
        display: none;
    }
    #nav-menu-mb{
        display: block;
    }
    .banner_top{
        margin-top: 130px;
    }
    footer{
        .row_three .right {
            float: left !important;
        }
        .gg-map{
            margin-top: 10px;
        }
    }
}


