
.breackcums{
  .breadcrumb{
    background-color: #fff;
    color: #595959;
    font-size: 0.9rem;
    padding: 10px 0;
    white-space: nowrap;
    margin-bottom: 0px !important;
    li.active{
      color: #333;
      text-decoration: none;
      margin-right: 10px;
      font-size: 12px;
      line-height: 1.5;
    }
    li{
      display: inline-block;
      margin-bottom: 4px;
      overflow: hidden;
      &:hover{
        a{
          color: #E51515;
        }
      }
      a {
        color: #333;
        text-decoration: none;
        margin-right: 10px;
        font-size: 12px;
        line-height: 1.5;
        span {
          font-size: 10px;
        }
      }
    }
  }
}
.title{
  h1{
    font-size: 26px !important;
    margin-bottom: 15px;
    color: #000;
  }
}


.slides_new{
  font-size: 1.6em;
  text-align: center;
  .slick-next:before, .slick-prev:before{
    color: #fff;
  }
  .slick-dotted.slick-slider {
    // margin-bottom: 10px;
    margin: 0 auto 10px auto;
  }
  .main {
    font-family:Arial;
    width:100%;
    display:block;
    margin:0 auto;
  }
  .slider-for{
    max-width: 500px;
    height: 355px;
    margin: 0 auto 10px auto;
    border: 1px #E5E5E5 solid;
  }
  .slider-for img:hover{
    cursor: zoom-in;
  }
  .slider-nav{
    max-width: 430px;

  }
  .slider-nav img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .item-nav{
    height: 65px;
    margin: 0 3px;
    border: 1px #E5E5E5 solid;
  }
  .item-for{
    width: 100%;
    height: 350px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.detail_product_price{
  margin-bottom: 10px;
  position: relative;
  .price{
    color: #E51515;
    font-size: 28px;
  }
  .old_price_text{
    margin-left: 30px;
    white-space: nowrap;
    &::before {
      color: #999;
      content: "Giá cũ: ";
    }
    .old_price {
      color: #595959;
      text-decoration: line-through;
    }
  }
}

.teaser_detail{
  border: 1px solid #DDD;
  padding: 20px;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  line-height: 1.5;
  a{
    color: #333;
  }
}

.detail_product_button {
  margin-bottom: 15px;
}
.form_button_3, .form_button_3_green {
  background: linear-gradient(#F59000, #FD6E1D);
  border: none;
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 6px 0 9px;
  text-transform: uppercase;
  width: 100%;
  height: 42px;
  i.fas.fa-shopping-cart {
    font-size: 18px;
    position: relative;
    margin-right: 8px;
  }
}

.detail_product_short_teaser tr{
  font-size: 14px;
  border-bottom: 1px solid #dee2e6;
  &:last-child {
    border: none;
  }
  td{
    border: none;
  }
  th {
    padding-right: 16px;
    text-align: left;
    border: none;

  }
}


.detail_product_related{
  .title{
    margin-bottom: 10px;
    h2{
      background: #FFF;
      color: #333;
      display: inline-block;
      font-size: 1.2rem;
      margin-bottom: 0;
      padding-right: 5px;
    }
  }
  .data{
    .wrapper{
      width: 50%;
      float: left;
      margin-bottom: 10px;
      &:hover{
        .information{
          a{
            color: #E51515;
          }
        }
      }
      .picture{
        border: 1px #E5E5E5 solid;
        float: left;
        width: 58px;
        height: 58px;
        text-align: center;
        margin-right: 10px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .information {
        padding-right: 10px;
        .name {
          font-size: 1rem;
          line-height: 1.25rem;
          max-height: 2.5rem;
          overflow: hidden;
          margin-bottom: 6px;
          a{
            font-size: 14px;
          }
        }
        .price {
          font-size: 1rem;
          color: #E51515;
          .old_price {
            color: #595959;
            text-decoration: line-through;
            margin-left: 20px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

.detail_description_left{
  .main_description{
    width: 100%;
    height: auto;
    line-height: 1.5;
    table{
      width: 100%;
      display: none;
    }
    img{
      width: 100% !important;
      height: 100% !important;
    }
  }
  margin-top: 20px;
  h2{
    font-size: 25px;
    color: #000;
  }
}


@media (max-width: 768px){
  .slides_new{
    margin-bottom: 10px;
    .item-nav{
      height: 55px;
    }
    .slider-for{
      height: 300px;
    }
    .item-for{
      height: 295px;
    }
  }
  .detail_product_related{
    .wrapper{
      width: 100% !important;
    }
  }
  .title{
    h1{
      font-size: 24px !important;
    }
  }
}
