$blue: #004870;
$do: #E51515;
$vang:#e8b909;
$trang: #fff;
$den: #000;

* {
    padding: 0;
    margin: 0;
    border: none;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Arial', serif;
    font-size: 16px;
    line-height: 1;
    color: #444c59;
    font-weight: 400;
    background: #fff;
}

.container-fluid{
    max-width: 1280px !important;
}

a{
    color: #333;
    text-decoration: none !important;
}

// @import "./scss_header/header";
@import "./scss_home/home";
@import "./scss_detail/detail";
@import "./scss_cart/cart";
