* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  color: #333;
}

header .top_bar {
  width: 100%;
  background-color: #DAF2FF;
  height: 36px;
  padding-top: 6px;
}

header .top_bar .left_bar .b_txt {
  text-transform: uppercase;
  color: #004870;
  font-size: 14px;
}

header .top_bar .right_bar .info_bar {
  text-align: right;
}

header .top_bar .right_bar .info_bar a {
  text-transform: uppercase;
  font-size: 14px;
  color: #004870;
  font-weight: 600;
  margin-right: 10px;
}

header .main_header {
  padding-top: 20px;
}

header .main_header .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
}

header .main_header .banner_top img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

header .main_header .search_top {
  padding-top: 16px;
}

header .main_header .search_top .form_search_top {
  width: 100%;
}

header .main_header .search_top .form_search_top input {
  border-radius: 0px;
  position: relative;
  height: 34px;
}

header .main_header .search_top .form_search_top button {
  position: absolute;
  right: 15px;
  top: 16px;
  width: 40px;
  height: 34px;
  background: #ff4445;
  color: #fff;
}

header .main_header .search_top .regis_mail {
  margin-top: 20px;
}

header .main_header .search_top .regis_mail a {
  color: #004870;
  font-size: 13px;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

header .main_header .search_top .regis_mail a i {
  margin-right: 4px;
}

.menu .main_menu {
  margin-top: 20px;
  height: 92px !important;
  background-color: #3498db;
}

.menu .main_menu ul.nav_bar {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.menu .main_menu ul.nav_bar li.menu_p {
  padding: 0 10px;
  position: relative;
}

.menu .main_menu ul.nav_bar li.menu_p:hover {
  background-color: #004870;
}

.menu .main_menu ul.nav_bar li.menu_p:hover ul.menu_child {
  display: block;
}

.menu .main_menu ul.nav_bar li.menu_p .home_item {
  font-size: 30px;
  line-height: 1.8;
}

.menu .main_menu ul.nav_bar li.menu_p .home_item i {
  font-size: 30px;
}

.menu .main_menu ul.nav_bar li.menu_p a {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 3.5;
  text-decoration: none;
}

.menu .main_menu ul.nav_bar li.menu_p a i.fas.fa-caret-down {
  font-size: 13px;
  margin-left: 10px;
}

.menu .main_menu ul.nav_bar ul.menu_child {
  display: none;
  position: absolute;
  display: none;
  left: 0;
  padding: 0 0;
  z-index: 999;
  background-color: #f5f5f5;
  width: 550px;
  -webkit-transition: .1s ease all;
  transition: .1s ease all;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.13);
}

.menu .main_menu ul.nav_bar ul.menu_child li {
  width: 33.33%;
  float: left;
  list-style: none;
  padding: 0 6px;
  border-bottom: 1px solid #d0d0d0;
}

.menu .main_menu ul.nav_bar ul.menu_child li:hover {
  background-color: #004870;
}

.menu .main_menu ul.nav_bar ul.menu_child li:hover a {
  color: #fff;
}

.menu .main_menu ul.nav_bar ul.menu_child li a {
  color: #666;
  font-size: 12px;
  line-height: 2.5;
}

.menu .main_menu .filter_tour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #114672;
  -webkit-box-shadow: 0 5px 10px #666;
          box-shadow: 0 5px 10px #666;
  z-index: 900;
}

.menu .main_menu .filter_tour .fil_cap {
  background-color: #ec2c00;
  height: 38px;
  float: left;
  width: 30%;
  text-align: right;
}

.menu .main_menu .filter_tour .fil_cap span {
  display: inline-block;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  text-align: right;
  line-height: 35px;
  font-size: 14px;
  padding-right: 15px;
}

.menu .main_menu .filter_tour .triangle {
  width: 0;
  border-top: 18px solid transparent;
  border-left: 18px solid #ec2c00;
  border-bottom: 18px solid transparent;
  float: left;
}

.menu .main_menu .filter_tour .fil_main {
  padding-top: 6px;
  padding-left: 12px;
}

.menu .main_menu .filter_tour .fil_main .form_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  height: 100%;
}

.menu .main_menu .filter_tour .fil_main .form_filter .form-check .form-check-label {
  font-size: 12px;
  margin-right: 12px;
}

.menu .main_menu .filter_tour .fil_main .form_filter .form-check .form-check-label .form-check-input {
  margin-top: 0.15rem;
}

.menu .main_menu .filter_tour .fil_main .form_filter .form-control {
  width: 150px;
  height: 28px;
  background-color: #004870;
  color: #fff;
  font-size: 12px;
  padding: .3rem .75rem;
}

.menu .main_menu .filter_tour .fil_main .form_filter .form_one {
  margin-right: 20px;
}

.menu .main_menu .filter_tour .fil_main .form_filter .form_two {
  width: 100px;
}

.menu .main_menu .filter_tour .fil_main .form_filter .btn_submit {
  background-color: #ec2c00;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  margin-left: 14px;
  padding-left: 32px;
  padding-right: 10px;
  cursor: pointer;
}

.menu .main_menu .filter_tour .fil_main .form_filter .btn_submit .trian_left {
  top: 0;
  left: 0px;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-left: 20px solid #114672;
  border-bottom: 15px solid transparent;
  position: absolute;
  z-index: 991;
}

.menu .main_menu .filter_tour .fil_main .form_filter .trian_right {
  width: 0;
  border-top: 16px solid transparent;
  border-left: 22px solid #ec2c00;
  border-bottom: 16px solid transparent;
  float: left;
}

.slide_banner_home {
  width: 100%;
  height: 430px;
}

.slide_banner_home .single-item {
  width: 100%;
  height: 100%;
}

.slide_banner_home .single-item .item img {
  width: 100%;
  height: 430px;
  -o-object-fit: fill;
     object-fit: fill;
}

main.home .hot_tour {
  margin-top: 20px;
}

main.home .hot_tour .hot_caption {
  position: relative;
  text-align: center;
  min-height: 78px;
}

main.home .hot_tour .hot_caption .line_cap {
  width: 80%;
  border-bottom: solid 1px #114672;
  position: absolute;
  margin-top: 20px;
  left: 10%;
}

main.home .hot_tour .hot_caption .txt_cap {
  position: absolute;
  background-color: #fff;
  left: 40%;
  padding-left: 50px;
  padding-right: 50px;
}

main.home .hot_tour .hot_caption .txt_cap span:first-child {
  display: block;
  color: #333;
  font-style: italic;
  font-size: 14pt;
}

main.home .hot_tour .hot_caption .txt_cap span:last-child {
  display: inline-block;
  color: #fc0000;
  font-family: 'Open Sans Condensed',Tahoma;
  font-weight: bold;
  font-size: 16pt;
  text-transform: uppercase;
  border-bottom: solid 3px #fc0000;
  text-align: center;
}

main.home .hot_tour .slide_hot_tour .owl-nav {
  text-align: center;
  font-size: 50px;
}

main.home .hot_tour .slide_hot_tour .owl-nav button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}

main.home .hot_tour .slide_hot_tour .owl-nav button.owl-prev {
  position: absolute;
  left: -2.5%;
  top: 33%;
}

main.home .hot_tour .slide_hot_tour .owl-nav button.owl-next {
  position: absolute;
  right: -2.5%;
  top: 33%;
}

main.home .hot_tour .slide_hot_tour .item {
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 0 3px #888;
          box-shadow: 0 0 3px #888;
  border: solid 1px #d0d0d0;
  position: relative;
}

main.home .hot_tour .slide_hot_tour .item:hover {
  -webkit-box-shadow: 1px 1px 9px #666;
          box-shadow: 1px 1px 9px #666;
}

main.home .hot_tour .slide_hot_tour .item .img_item {
  height: 142px;
  position: relative;
}

main.home .hot_tour .slide_hot_tour .item .img_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main.home .hot_tour .slide_hot_tour .item .img_item .distext {
  position: absolute;
  bottom: 0;
  background-color: #2980b9;
  width: 50%;
  height: 26px;
  display: block;
  border-top-right-radius: 30px;
  color: #fff;
  line-height: 25px;
  text-indent: 8px;
  z-index: 100;
  font-size: 13px;
}

main.home .hot_tour .slide_hot_tour .item .info_item {
  padding: 5px;
}

main.home .hot_tour .slide_hot_tour .item .info_item .title_item {
  text-decoration: none;
  display: -webkit-box;
  font-size: 13px;
  line-height: 1.5;
  max-width: 100%;
  height: 40px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #004870;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: solid 1px #e0e0e0;
  padding: 0 6px;
}

main.home .hot_tour .slide_hot_tour .item .info_item .date_item {
  padding: 6px;
}

main.home .hot_tour .slide_hot_tour .item .info_item .date_item span {
  display: inline-block;
  font-size: 12px;
}

main.home .hot_tour .slide_hot_tour .item .info_item .date_item span.date_tour {
  margin-right: 8px;
}

main.home .hot_tour .slide_hot_tour .item .info_item .price_tour {
  padding: 8px 10px;
}

main.home .hot_tour .slide_hot_tour .item .info_item .price_tour .oldprice {
  font-size: 12px;
  font-weight: 600;
  color: #6b6b6b;
}

main.home .hot_tour .slide_hot_tour .item .info_item .price_tour .newprice {
  color: #fc0000;
  font-size: 16px;
  font-weight: bold;
}

main.home .all_tour {
  margin-bottom: 30px;
}

main.home .all_tour .tx_tour {
  border-bottom: solid 2px #114672;
  margin-bottom: 15px;
}

main.home .all_tour .tx_tour .cap_tn_tour {
  display: inline-block;
  background-color: #114672;
  padding-left: 20px;
  padding-right: 35px;
  padding-top: 2px;
  padding-bottom: 4px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  margin-left: 8px;
}

main.home .all_tour .tx_tour .cap_tn_tour h3 {
  display: inline;
  font-weight: bold;
  text-transform: uppercase;
}

main.home .all_tour .tx_tour .cap_tn_tour h3 a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

main.home .all_tour .main_all_tour {
  width: 100%;
}

main.home .all_tour .main_all_tour .tour_new {
  width: 100%;
  height: 100%;
  height: 130px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main.home .all_tour .main_all_tour .tour_new .img_tour_al {
  width: 30%;
}

main.home .all_tour .main_all_tour .tour_new .img_tour_al img {
  width: 100%;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
}

main.home .all_tour .main_all_tour .tour_new .info_tour_al {
  width: 70%;
  padding: 0 10px;
}

main.home .all_tour .main_all_tour .tour_new .info_tour_al .title_al {
  text-decoration: none;
  display: -webkit-box;
  font-size: 13px;
  line-height: 1.5;
  max-width: 100%;
  max-height: 57px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #004870;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 6px;
}

main.home .all_tour .main_all_tour .tour_new .info_tour_al .date_item_al span {
  display: inline-block;
  font-size: 14px;
  color: #333;
}

main.home .all_tour .main_all_tour .tour_new .info_tour_al .date_item_al span.date_tour {
  margin-right: 8px;
}

main.home .all_tour .main_all_tour .tour_new .info_tour_al .price_tour_al {
  margin-top: 10px;
}

main.home .all_tour .main_all_tour .tour_new .info_tour_al .price_tour_al .newprice {
  font-size: 11pt;
  color: #444;
  font-weight: 600;
}

main.home .all_tour .main_all_tour .tour_new .info_tour_al .price_tour_al .prdis {
  line-height: 20px;
  display: inline-block;
  padding-left: 5px;
}

main.home .all_tour .main_all_tour .tour_new .info_tour_al .price_tour_al .prdis span:first-child {
  height: 0;
  display: block;
  border-style: solid;
  border-width: 11px 11px 11px 0;
  border-color: transparent #c60202 transparent transparent;
  float: left;
  font-family: "Open Sans Condensed",Tahoma;
  font-size: 11pt;
}

main.home .all_tour .main_all_tour .tour_new .info_tour_al .price_tour_al .prdis span:last-child {
  background-color: #f60000;
  color: #fff;
  line-height: 23px;
  display: inline-block;
  padding-right: 5px;
  font-size: 9pt;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

main.home .all_tour .more_tour {
  text-align: center;
}

main.home .all_tour .more_tour a {
  color: #004870;
  display: inline-block;
  border-bottom: solid 1px #014075;
  text-decoration: none;
  font-size: 11pt;
  font-weight: bold;
}

main.home .banner_bw_home {
  margin-bottom: 30px;
}

main.home .banner_bw_home .img_bn_bw {
  width: 100%;
  height: 250px;
}

main.home .banner_bw_home .img_bn_bw img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main.home .news_even .news_left .cap_news {
  border-bottom: solid 1px silver;
  margin-bottom: 10px;
}

main.home .news_even .news_left .cap_news h5 {
  color: #114672;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  display: block;
}

main.home .news_even .news_left .cap_news h5 a {
  color: #114672;
}

main.home .news_even .news_left .cap_news .cbg {
  display: block;
  background-color: #008cff;
  width: 90px;
  height: 7px;
}

main.home .news_even .news_left .main_item_news .img_item_news {
  width: 100%;
  height: 350px;
}

main.home .news_even .news_left .main_item_news .img_item_news img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main.home .news_even .news_left .main_item_news .txt_item_news {
  padding: 10px;
}

main.home .news_even .news_left .main_item_news .txt_item_news h5 {
  color: #114672;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  display: block;
}

main.home .news_even .news_left .main_item_news .txt_item_news h5 a {
  color: #114672;
}

main.home .news_even .news_left .main_item_news .txt_item_news .date_news {
  font-size: 12px;
}

main.home .news_even .news_left .main_item_news .txt_item_news .date_news i {
  margin-right: 6px;
}

main.home .news_even .news_left .main_item_news .txt_item_news .content_txt {
  font-style: italic;
  font-size: 14px;
  display: -webkit-box;
  max-width: 100%;
  max-height: 62px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

main.home .news_even .news_left .news_more .news_b {
  width: 100%;
  height: 65px;
  margin-bottom: 10px;
}

main.home .news_even .news_left .news_more .news_b a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main.home .news_even .news_left .news_more .news_b a img {
  width: 30%;
  height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
}

main.home .news_even .news_left .news_more .news_b a span {
  width: 70%;
  padding: 0 4px;
  font-size: 14px;
  display: -webkit-box;
  max-width: 100%;
  max-height: 62px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #004870;
}

main.home .news_even .news_left .news_more .news_c {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
}

main.home .news_even .news_left .news_more .news_c a img {
  width: 100%;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

main.home .news_even .news_left .news_more .news_c a span {
  width: 70%;
  padding: 4px 0px;
  font-size: 14px;
  display: -webkit-box;
  max-width: 100%;
  max-height: 62px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #004870;
}

.list_tour {
  margin-top: 30px;
}

.list_tour .breadcrumb_t {
  margin-bottom: 35px;
  text-transform: uppercase;
}

.list_tour .breadcrumb_t a {
  font-size: 12px;
  color: #666;
}

.list_tour .breadcrumb_t a:hover {
  color: #004870;
}

.list_tour .breadcrumb_t a i {
  margin: 0 6px;
}

.list_tour .des_tour .title_des {
  font-weight: bold;
  color: #114672;
  display: inline;
  font-size: 16px;
}

.list_tour .des_tour .cbg {
  display: block;
  background-color: #008cff;
  width: 90px;
  height: 7px;
  margin-top: 8px;
}

.list_tour .des_tour .content_des {
  background: #f0f0f0;
  text-align: justify;
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;
  padding: 15px;
}

.list_tour .des_tour .content_des p {
  margin: 0 0 10px;
  font-size: 14px;
}

.list_tour .main_list_tour .filter_tour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid silver;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 14px;
}

.list_tour .main_list_tour .filter_tour .count_t {
  margin-right: 20px;
}

.list_tour .main_list_tour .filter_tour i {
  font-size: 12px;
}

.list_tour .main_list_tour .filter_tour .fil_list {
  width: 115px;
  font-size: 12px;
  height: 24px;
  padding: 0 0;
  margin-left: 16px;
}

.list_tour .main_list_tour .all_tour_list {
  margin-top: 30px;
}

.list_tour .main_list_tour .all_tour_list .tour_new_cat {
  width: 100%;
  height: 100%;
  height: 130px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list_tour .main_list_tour .all_tour_list .tour_new_cat:hover {
  -webkit-box-shadow: 1px 1px 4px #999;
          box-shadow: 1px 1px 4px #999;
}

.list_tour .main_list_tour .all_tour_list .tour_new_cat .img_tour_al {
  width: 30%;
}

.list_tour .main_list_tour .all_tour_list .tour_new_cat .img_tour_al img {
  width: 100%;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
}

.list_tour .main_list_tour .all_tour_list .tour_new_cat .info_tour_al {
  width: 70%;
  padding: 4px 10px;
}

.list_tour .main_list_tour .all_tour_list .tour_new_cat .info_tour_al .title_al {
  text-decoration: none;
  display: -webkit-box;
  font-size: 13px;
  line-height: 1.5;
  max-width: 100%;
  max-height: 57px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #004870;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.list_tour .main_list_tour .all_tour_list .tour_new_cat .info_tour_al .date_item_al span {
  display: inline-block;
  font-size: 14px;
  color: #333;
}

.list_tour .main_list_tour .all_tour_list .tour_new_cat .info_tour_al .date_item_al span.date_tour {
  margin-right: 8px;
}

.list_tour .main_list_tour .all_tour_list .tour_new_cat .info_tour_al .price_tour_al {
  margin-top: 10px;
}

.list_tour .main_list_tour .all_tour_list .tour_new_cat .info_tour_al .price_tour_al .newprice {
  font-size: 11pt;
  color: #444;
  font-weight: 600;
}

.list_tour .main_list_tour .all_tour_list .tour_new_cat .info_tour_al .price_tour_al .prdis {
  line-height: 20px;
  display: inline-block;
  padding-left: 5px;
}

.list_tour .main_list_tour .all_tour_list .tour_new_cat .info_tour_al .price_tour_al .prdis span:first-child {
  height: 0;
  display: block;
  border-style: solid;
  border-width: 11px 11px 11px 0;
  border-color: transparent #c60202 transparent transparent;
  float: left;
  font-family: "Open Sans Condensed",Tahoma;
  font-size: 11pt;
}

.list_tour .main_list_tour .all_tour_list .tour_new_cat .info_tour_al .price_tour_al .prdis span:last-child {
  background-color: #f60000;
  color: #fff;
  line-height: 23px;
  display: inline-block;
  padding-right: 5px;
  font-size: 9pt;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.list_tour .main_list_tour .all_tour_list table thead {
  background: #0184cc;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
}

.list_tour .main_list_tour .all_tour_list table thead .tour_h {
  width: 300px;
}

.list_tour .main_list_tour .all_tour_list table tbody td {
  font-size: 13px;
}

.list_tour .main_list_tour .all_tour_list table tbody td.td_img {
  padding: 0 0;
  height: 110px;
}

.list_tour .main_list_tour .all_tour_list table tbody td.td_img .item_list_t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.list_tour .main_list_tour .all_tour_list table tbody td.td_img .item_list_t .img_list_t {
  width: 170px;
  height: 80px;
}

.list_tour .main_list_tour .all_tour_list table tbody td.td_img .item_list_t .img_list_t img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.list_tour .main_list_tour .all_tour_list table tbody td.td_img .item_list_t .tit_list_t {
  font-size: 13px;
  font-weight: 600;
  padding: 2px 6px;
  color: #026196;
  overflow: hidden;
  width: 100%;
}

.list_tour .main_list_tour .all_tour_list table tbody td.td_img .code_t {
  margin-top: 6px;
  padding: 0 6px;
}

.list_tour .main_list_tour .all_tour_list table tbody td.td_img .code_t span {
  font-size: 12px;
}

.list_tour .main_list_tour .all_tour_list table tbody td.pri_tour p {
  margin: 0 0;
}

.list_tour .main_list_tour .all_tour_list table tbody td.pri_tour p .oldprice {
  text-decoration: line-through;
  color: #b4b4b4;
}

.list_tour .main_list_tour .all_tour_list table tbody td.pri_tour p span.new_pri_n {
  color: #333;
  font-weight: 600;
  font-size: 14px;
}

.list_tour .main_list_tour .all_tour_list table tbody td.pri_tour p span.new_pri {
  font-weight: 600;
  font-size: 14px;
  color: red;
}

.list_tour .main_list_tour .all_tour_list table tbody td.bok_tour a .btn_book {
  background-color: red;
  outline: 0px;
}

.right_menu {
  width: 100%;
  background-color: #eee;
  padding: 8px;
}

.right_menu .tit_menu {
  width: 100%;
  display: block;
  background-color: #003867;
  padding: 8px 0 8px 5px;
}

.right_menu .tit_menu span {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.right_menu .list_right_menu {
  list-style: none;
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 8px;
}

.right_menu .list_right_menu li {
  width: 100%;
  position: relative;
  border-bottom: solid 1px silver;
}

.right_menu .list_right_menu li a {
  color: #0077b5;
  font-size: 10.8pt;
  text-transform: uppercase;
  padding-left: 3px;
  width: 100%;
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
  position: relative;
  font-weight: bold;
}

.detail_tour {
  margin-top: 30px;
}

.detail_tour .breadcrumb_t {
  margin-bottom: 35px;
  text-transform: uppercase;
}

.detail_tour .breadcrumb_t a {
  font-size: 12px;
  color: #666;
}

.detail_tour .breadcrumb_t a:hover {
  color: #004870;
}

.detail_tour .breadcrumb_t a i {
  margin: 0 6px;
}

.detail_tour .tit_detail {
  margin-bottom: 30px;
}

.detail_tour .tit_detail .title_tt {
  font-weight: bold;
  color: #114672;
  display: inline;
  font-size: 18px;
}

.detail_tour .tit_detail .cbg {
  display: block;
  background-color: #008cff;
  width: 90px;
  height: 7px;
  margin-top: 8px;
}

.detail_tour .left_t_detail {
  padding-right: 0px !important;
}

.detail_tour .left_t_detail .tour_price .pricetext_dis {
  text-decoration: line-through;
}

.detail_tour .left_t_detail .tour_price .pricetext {
  color: #f60000;
  font-weight: bold;
  font-size: 20px;
  margin-left: 30px;
}

.detail_tour .left_t_detail .tour_price .pri_real {
  font-size: 18px;
  color: #f60000;
  font-weight: bold;
}

.detail_tour .left_t_detail .tour_code {
  color: #666;
  font-size: 12px;
}

.detail_tour .left_t_detail .info_tour {
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.detail_tour .left_t_detail .info_tour table {
  width: 100%;
  margin-bottom: 0px;
  font-size: 12px;
  color: #000000a1;
}

.detail_tour .left_t_detail .info_tour table tbody tr td {
  font-size: 14px;
  padding: 3px 2px !important;
  border: none;
}

.detail_tour .left_t_detail .info_tour table > tbody > tr:nth-child(odd) > td, .detail_tour .left_t_detail .info_tour table .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.detail_tour .left_t_detail .tour_sp {
  width: 100%;
  padding-top: 10px;
}

.detail_tour .left_t_detail .tour_sp .hotlinetext {
  font-size: 12px;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
}

.detail_tour .left_t_detail .tour_sp a {
  color: #f60000;
  font-size: 13px;
  font-weight: bold;
  margin-top: 5px;
  display: block;
}

.detail_tour .left_t_detail .tour_sp a .name {
  color: #333;
}

.detail_tour .left_t_detail .book_tour_dt {
  margin-top: 20px;
  text-align: center;
}

.detail_tour .left_t_detail .book_tour_dt .tour_blank {
  font-size: 14px;
  font-weight: 600;
}

.content_tour img {
  width: 100%;
  height: 100%;
}

.book_tour {
  margin-top: 30px;
}

.book_tour .breadcrumb_t {
  margin-bottom: 35px;
  text-transform: uppercase;
}

.book_tour .breadcrumb_t a {
  font-size: 12px;
  color: #666;
}

.book_tour .breadcrumb_t a:hover {
  color: #004870;
}

.book_tour .breadcrumb_t a i {
  margin: 0 6px;
}

.book_tour .tit_detail .title_tt {
  font-weight: bold;
  color: #114672;
  display: inline;
  font-size: 18px;
}

.book_tour .tit_detail .cbg {
  display: block;
  background-color: #008cff;
  width: 90px;
  height: 7px;
  margin-top: 8px;
}

.book_tour .bg_panel {
  background: #f0f0f0;
  text-align: justify;
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;
  padding: 15px;
}

.book_tour .stepwizard {
  display: table;
  width: 100%;
  position: relative;
  margin-top: 0%;
}

.book_tour .stepwizard .stepwizard_row {
  display: table-cell;
  position: relative;
}

.book_tour .stepwizard .stepwizard_row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-index: -1;
}

.book_tour .stepwizard .stepwizard_row .btn-circle-check {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-left: 45%;
}

.book_tour .stepwizard .stepwizard_row .btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-left: 45%;
  background-color: #e4e4e4;
  border-color: #c7c7c7;
}

.book_tour .stepwizard .stepwizard_row .check_bt {
  color: #428bca;
  font-size: 25px;
}

.book_tour .stepwizard .stepwizard_row p {
  margin: 0 0 10px;
  text-align: center;
}

.book_tour .book_tour_img {
  border: 1px solid #ddd;
  padding: 5px;
}

.book_tour .book_tour_img img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.book_tour .table-bordered {
  border: 1px solid #ddd;
  margin-bottom: 0px;
}

.book_tour .table-bordered tr td {
  font-size: 12px;
  padding: 0.4rem 0.75rem;
  text-align: left;
}

.book_tour .order_tbl_price {
  margin-top: 30px;
  margin-bottom: 20px;
}

.book_tour .order_tbl_price .tt_order {
  text-align: center;
  color: #c50000;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 16px;
}

.book_tour .order_tbl_price .table_single {
  margin-top: 20px;
}

.book_tour .order_tbl_price .cofrm .div_order {
  background: #f2f2f2;
  width: 100%;
  display: inline-block;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.book_tour .order_tbl_price .cofrm .div_order .text-center {
  text-align: center;
}

.book_tour .order_tbl_price .cofrm .div_order .text-center .tit_order {
  display: inline-block;
  font-size: 16px;
  font-family: 'Open Sans Condensed',sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #c50000;
  text-align: center;
  margin-bottom: 15px;
}

.book_tour .order_tbl_price .cofrm .div_order .form_order label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

.book_tour .order_tbl_price .cofrm .div_next {
  background: #f2f2f2;
  width: 100%;
  margin-top: 10px;
  height: auto;
  display: inline-block;
}

.book_tour .order_tbl_price .cofrm .div_next #tieptheo {
  height: 45px;
  font-size: 15px;
  text-transform: uppercase;
  float: right;
  font-weight: bold;
  background-color: #0095da;
  color: #fff;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
}

.div_order {
  background: #f2f2f2;
  width: 100%;
  display: inline-block;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.search_tour {
  margin-top: 30px;
}

.search_tour .breadcrumb_t {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.search_tour .breadcrumb_t a {
  font-size: 12px;
  color: #666;
}

.search_tour .breadcrumb_t a i {
  margin: 0 6px;
}

.search_tour .keyword_t h5 {
  color: #004870 !important;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.search_tour .keyword_t span {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.search_tour .keyword_t .cout_tour {
  margin-top: 6px;
  margin-bottom: 0px;
}

.search_tour .main_list_tour .filter_tour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid silver;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 14px;
}

.search_tour .main_list_tour .filter_tour .count_t {
  margin-right: 20px;
}

.search_tour .main_list_tour .filter_tour i {
  font-size: 12px;
}

.search_tour .main_list_tour .filter_tour .fil_list {
  width: 115px;
  font-size: 12px;
  height: 24px;
  padding: 0 0;
  margin-left: 16px;
}

.search_tour .main_list_tour .all_tour_list {
  margin-top: 10px;
}

.search_tour .main_list_tour .all_tour_list .tour_new {
  width: 100%;
  height: 100%;
  height: 130px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search_tour .main_list_tour .all_tour_list .tour_new .img_tour_al {
  width: 30%;
}

.search_tour .main_list_tour .all_tour_list .tour_new .img_tour_al img {
  width: 100%;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
}

.search_tour .main_list_tour .all_tour_list .tour_new .info_tour_al {
  width: 70%;
  padding: 0 10px;
}

.search_tour .main_list_tour .all_tour_list .tour_new .info_tour_al .title_al {
  text-decoration: none;
  display: -webkit-box;
  font-size: 13px;
  line-height: 1.5;
  max-width: 100%;
  max-height: 57px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #004870;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.search_tour .main_list_tour .all_tour_list .tour_new .info_tour_al .date_item_al span {
  display: inline-block;
  font-size: 14px;
  color: #333;
}

.search_tour .main_list_tour .all_tour_list .tour_new .info_tour_al .date_item_al span.date_tour {
  margin-right: 8px;
}

.search_tour .main_list_tour .all_tour_list .tour_new .info_tour_al .price_tour_al {
  margin-top: 10px;
}

.search_tour .main_list_tour .all_tour_list .tour_new .info_tour_al .price_tour_al .newprice {
  font-size: 11pt;
  color: #444;
  font-weight: 600;
}

.search_tour .main_list_tour .all_tour_list .tour_new .info_tour_al .price_tour_al .prdis {
  line-height: 20px;
  display: inline-block;
  padding-left: 5px;
}

.search_tour .main_list_tour .all_tour_list .tour_new .info_tour_al .price_tour_al .prdis span:first-child {
  height: 0;
  display: block;
  border-style: solid;
  border-width: 11px 11px 11px 0;
  border-color: transparent #c60202 transparent transparent;
  float: left;
  font-family: "Open Sans Condensed",Tahoma;
  font-size: 11pt;
}

.search_tour .main_list_tour .all_tour_list .tour_new .info_tour_al .price_tour_al .prdis span:last-child {
  background-color: #f60000;
  color: #fff;
  line-height: 23px;
  display: inline-block;
  padding-right: 5px;
  font-size: 9pt;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.search_tour .main_list_tour .all_tour_list table thead {
  background: #0184cc;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
}

.search_tour .main_list_tour .all_tour_list table thead .tour_h {
  width: 300px;
}

.search_tour .main_list_tour .all_tour_list table tbody td {
  font-size: 13px;
}

.search_tour .main_list_tour .all_tour_list table tbody td.td_img {
  padding: 0 0;
  height: 110px;
}

.search_tour .main_list_tour .all_tour_list table tbody td.td_img .item_list_t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.search_tour .main_list_tour .all_tour_list table tbody td.td_img .item_list_t .img_list_t {
  width: 170px;
  height: 80px;
}

.search_tour .main_list_tour .all_tour_list table tbody td.td_img .item_list_t .img_list_t img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.search_tour .main_list_tour .all_tour_list table tbody td.td_img .item_list_t .tit_list_t {
  font-size: 13px;
  font-weight: 600;
  padding: 2px 6px;
  color: #026196;
  overflow: hidden;
  width: 100%;
}

.search_tour .main_list_tour .all_tour_list table tbody td.td_img .code_t {
  margin-top: 6px;
  padding: 0 6px;
}

.search_tour .main_list_tour .all_tour_list table tbody td.td_img .code_t span {
  font-size: 12px;
}

.search_tour .main_list_tour .all_tour_list table tbody td.pri_tour p {
  margin: 0 0;
}

.search_tour .main_list_tour .all_tour_list table tbody td.pri_tour p .oldprice {
  text-decoration: line-through;
  color: #b4b4b4;
}

.search_tour .main_list_tour .all_tour_list table tbody td.pri_tour p span.new_pri_n {
  color: #333;
  font-weight: 600;
  font-size: 14px;
}

.search_tour .main_list_tour .all_tour_list table tbody td.pri_tour p span.new_pri {
  font-weight: 600;
  font-size: 14px;
  color: red;
}

.search_tour .main_list_tour .all_tour_list table tbody td.bok_tour a .btn_book {
  background-color: red;
  outline: 0px;
}

.search_tour .align_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .bottom_bg {
  width: 100%;
  height: 155px;
}

footer .bottom_bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
}

footer .bottom_list_place {
  background-color: #004075;
  padding: 30px 0;
}

footer .bottom_list_place .info_rs .tit_rs {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 10px;
}

footer .bottom_list_place .info_rs .cbg {
  display: block;
  background-color: #008cff;
  width: 90px;
  height: 7px;
}

footer .bottom_list_place .info_rs .list_rs {
  list-style: none;
  margin-top: 20px;
}

footer .bottom_list_place .info_rs .list_rs li {
  border-bottom: dotted 1px #000;
  margin-bottom: 6px;
}

footer .bottom_list_place .info_rs .list_rs li a {
  color: #fff;
  font-size: 13px;
}

footer .bottom_list_place .info_rs .tour_tn_bt li {
  width: 33.33%;
  float: left;
}

footer .info_company {
  padding: 20px 0 5px 0;
}

footer .info_company .info_cp .info_rs {
  color: #004870;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 10px;
}

footer .info_company .info_cp .cbg {
  display: block;
  background-color: #008cff;
  width: 90px;
  height: 7px;
}

footer .info_company .info_cp .ul_inf {
  margin-top: 10px;
  list-style: none;
}

footer .info_company .info_cp .ul_inf li {
  font-size: 13px;
}

footer .info_company .logo_ft {
  margin-top: 20px;
}

footer .info_company .ct_info_r {
  font-size: 14px;
  margin-top: 20px;
}

footer .info_company .socical_ct {
  font-size: 30px;
  margin-top: 15px;
}

footer .info_company .socical_ct a {
  margin-right: 5px;
}

footer .info_company .socical_ct a .fa-facebook-square {
  color: #4267B2;
}

footer .info_company .socical_ct a .fa-youtube-square {
  color: #FF0000;
}

footer .info_company .socical_ct a .fab.fa-instagram {
  color: turquoise;
}

footer .info_company .bt_line {
  border-top: solid 2px #0184cc;
}

footer .info_company .bt_line .p_pt {
  width: 100%;
  margin-top: 10px;
  padding: 0 161px;
  text-align: center;
  font-size: 13px;
}
/*# sourceMappingURL=style_all.css.map */